.top-banner{
    background-image: url('../../images/TopBanner.jpg');
    background-size: cover;
    color: white;
}
@media only screen and (max-width :576px) {
    .top-banner{
      width: 50%;
    }}